body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(0, 73, 102);
}

.navbar a {
    color: white;
    font-size: large;
    text-decoration: none;
    padding: 5px 30px; 
    position: relative;
}

/* Underline under tab name when user hovers over it */
.navbar a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px; 
    left: 0;
    width: 100%;
    height: 5px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

/* Darken the colour of the tab section in the navbar when hovered over*/
.navbar a:hover {
    background-color: rgb(3, 100, 138);
}

.navbar a:hover::after {
    background-color: white; /* Color of underline on hover */
}

#logo {
    height: 80px;
}

#logout {
    margin-left: auto;
    margin-right: 50px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
}

.errorContent {
    text-align: center;
}

.errorContent h1 {
    font-size: 100px;
}

.errorContent h2 {
    font-size: 30px;
}

.errorContent p {
    font-size: 24px;
    margin: 20px 0px;
}

.potentialIssue p {
    font-size: 20px;
    margin: 10px 0px;
}